body {
    margin: 0;
    padding: 0;
}

.header {
    background: #b6d8e1;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation a {
    margin: 10px;
    color: black;
    text-decoration: none;
    font-size: 17px;
}

.navigation a:hover {
    color: red;
}

.collegeMenu a {
    margin: 15px;
    font-size: 17px;
    text-decoration: none;
    color: black;
}

.collegeMenu a:hover {
    color: red;
}